<!DOCTYPE html>
<html>
  <head>
    <title>Bit of War - Preview</title>
    <link rel='icon' type='image/png' href='/public/img/favicon.png' />
    <link rel='stylesheet'
      href='/public/bower/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet'
      href='/public/dist/minified.css' />
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <script src='/public/bower/jquery/dist/jquery.min.js'>
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body oncontextmenu='return false;'>
    {% block body %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
